<p>Hi {{ tradein.name }},</p>
<br>
<p>Data pengajuan program Trade-In anda telah kami terima. Staff kami akan menghubungi anda terkait proses pickup dan verifikasi unit laptop/notebook lama anda. Terima kasih.</p>
<br>
<br>
<strong>ACER INDONESIA</strong>